.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-google {
	/*fill: #000000;*/
}
.icon-facebook {
	/*fill: #000000;*/
}
.icon-twitter {
	/*fill: #000000;*/
}
.icon-youtube {
	/*fill: #000000;*/
}
.icon-yahoo {
	/*fill: #000000;*/
}
.icon-windows {
	/*fill: #000000;*/
}
.icon-windows8 {
	/*fill: #000000;*/
}
